
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

}

.designScreen1 {
    
    height: 100vh;
    width: 100vw;

    display: flex;
  
    justify-content:center;
    align-items: center;
   
}

#pantalla1 { 
    background-image: url(/IMG/drift.gif);

    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome {
    color: white;

    font-weight: bold;
    font-size: 3em;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#welcome:hover {

    background-image: url(/IMG/humo.gif);
    background-size: cover;

    text-align: center;
    color: rgb(104, 241, 104);

    font-weight: bolder;
    font-size:8em;
    font-style: italic;

    transition: 1s;

    border-radius: 1em;
    

}

#motor {
    height: 2em;
    width: 15em;

    position:absolute;
    left:.5em;
    top:35em;
}


.designScreen2 {
    background-color: red;

    height: 100vh;
    width: 100vw;
}

.designScreen3 {
    background-color: black;

    height: 100vh;
    width: 100vw;
}

.designScreen4 {
    background-color: violet;

    height: 100vh;
    width: 100vw;
}